* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
  }

  h1{
    background-color: #4a90e2;
    color: white;
    text-align: center;
  }

  form{
 
        background-color: #4a90e2;
        color: white;
        padding: 10px 0;
        text-align: center;
 
  }

  #button {
    display: inline-block;
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border-color:white;
    transition: background-color 0.3s ease;
  }

  #button:hover {
    background-color: #357abd;
  }

  a{
    
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border-color:white;
    transition: background-color 0.3s ease;
    text-align: center;
  }

  a:hover {
    background-color: #357abd;
  }